<div class="container">
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="pull-left">Restaurants:</h4>
      <button mat-raised-button color="primary" routerLink="/restaurant-add" class="btn-sm pull-right">Add new
        restaurant
      </button>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading">
      <div class="col-xs-4" *ngFor="let restaurant of restaurants">
        <div>
          <a mat-button [routerLink]="['/restaurant', restaurant.id]">{{restaurant.name}}
            <img *ngIf="restaurant.logoImage" [src]="restaurant.logoImage" class="img-responsive size" alt="logo"></a>
        </div>
      </div>
    </div>
  </div>
</div>
