<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h2>Company list:</h2>
      <hr/>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div class="row" *ngFor="let company of companies">
        <h3><a mat-button [routerLink]="['/company', company.id]">{{company.name}}</a></h3>
      </div>
      <hr/>
      <button mat-raised-button color="primary" routerLink="/company-add" class="btn-block">Add new company</button>
    </div>
  </div>
</div>
