<div class="container">
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="pull-left">Companies:</h4>
      <button mat-raised-button color="primary" routerLink="/company-add" class="btn-sm pull-right">Add new company</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4" *ngFor="let company of companies">
      <hr/>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div>
        <a mat-button [routerLink]="['/company', company.id]">{{company.name}}
        <img *ngIf="company.logoImage" [src]="company.logoImage" class="img-responsive size" alt="logo"></a>
      </div>
    </div>
  </div>
</div>
