<mat-toolbar color="primary" *ngIf="isAuthenticated">
  <button mat-button routerLink="home" class="text-center">{{userDetails.company.name}}</button>
  <button mat-button routerLink="companies" class="text-center">Companies</button> &nbsp;
  <button mat-button routerLink="restaurants" class="text-center">Restaurants</button>
  <div class="col-xs-2 col-xs-offset-8">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <p><span class="glyphicon glyphicon-user"></span> &nbsp; {{userDetails.username}}</p>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <button *ngIf="isAuthenticated" mat-button routerLink="authenticate" (click)="logout()">Log out</button>
      </button>
      <button mat-menu-item>
        <mat-icon>lock</mat-icon>
        <button *ngIf="isAuthenticated" mat-button routerLink="change-password">Change password</button>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
