<div class="alert alert-success fadein text-center" role="alert" *ngIf="restaurantEditedSuccessfully">
  <strong>Restaurant updated successfully</strong>
</div>
<div class="alert alert-success fadein text-center" role="alert" *ngIf="restaurantAddedSuccessfully">
  <strong>Restaurant added successfully</strong>
</div>
<div class="container-fluid">
  <button mat-button (click)="goBack()" style="margin-top: 10px;"><mat-icon>keyboard_backspace</mat-icon></button>
  <div class="row login-wrapper" style="margin-top: 60px;">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <mat-card class="box" *ngIf="!isLoading">
      <mat-card-header>
        <mat-card-title>{{isInEdit ? 'Edit restaurant' : 'Create new restaurant'}}</mat-card-title>
      </mat-card-header>
      <form class="example-form" #restaurantForm="ngForm" (ngSubmit)="handleRestaurantForm(restaurantForm)">
        <mat-card-content class="input-width">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Restaurant name" [(ngModel)]="restaurant.name"
                   ngModel name="name" required #name="ngModel"/>
            <mat-hint *ngIf="!name.valid && name.touched">Company is required</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Restaurant address" [(ngModel)]="restaurant.address"
                   ngModel name="address" required #address="ngModel"/>
            <mat-hint *ngIf="!address.valid && address.touched">Address is required</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Restaurant phone number" [(ngModel)]="restaurant.phoneNumber"
                   ngModel name="phoneNumber" required #phoneNumber="ngModel"/>
            <mat-hint *ngIf="!phoneNumber.valid && phoneNumber.touched">Phone number is required</mat-hint>
          </mat-form-field>
          <div *ngIf="!isInEdit">
            <label for="restaurantLogo">Upload Logo</label>
            <input id="restaurantLogo" name="restaurantLogo" class="form-control" type="file" (change)="onFileSelected($event)">
          </div>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block" *ngIf="isInEdit">Edit</button>
        <button mat-raised-button color="primary" class="btn-block" style="background-color: green; color: white;"
                *ngIf="!isInEdit">Create</button>
      </form>
      <mat-error *ngIf="error" class="text-center">{{error}}</mat-error>
    </mat-card>
  </div>
</div>
