<div class="alert alert-success fadein text-center" role="alert" *ngIf="passwordSuccessfullyChanged">
  <strong>Password successfully changed</strong>
</div>
<div class="container-fluid" style="margin-top: 100px;">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <mat-card class="box" *ngIf="!isLoading">
      <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <form class="example-form" #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
        <mat-card-content class="input-width">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Username" ngModel name="username" required #username="ngModel"/>
            <mat-hint *ngIf="!username.valid && username.touched">Username should be at least 6 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Current password" ngModel name="currentPassword" required minlength="6"
                   #currentPassword="ngModel"/>
            <mat-hint *ngIf="!currentPassword.valid && currentPassword.touched">Password should be at least 6 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="New password" ngModel name="newPassword" required minlength="6"
                   #newPassword="ngModel"/>
            <mat-hint *ngIf="!newPassword.valid && newPassword.touched">Password should be at least 6 characters</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Confirm password" ngModel name="confirmPassword" required minlength="6"
                   #confirmPassword="ngModel"/>
            <mat-hint *ngIf="!confirmPassword.valid && confirmPassword.touched">Password should be at least 6 characters</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary"
                [disabled]="(username.invalid && username.touched) || (currentPassword.invalid && currentPassword.touched)
                || (newPassword.invalid && newPassword.touched) || (confirmPassword.invalid && confirmPassword.touched)"
                class="btn-block">Change password</button>
      </form>
      <mat-error *ngIf="error" class="text-center">{{error}}</mat-error>
    </mat-card>
  </div>
</div>
