<div class="container">
  <button mat-button style="margin-top: 20px; margin-left: -100px;"><mat-icon>keyboard_backspace</mat-icon></button>
  <div class="row" style="margin-top: 130px;">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-5" *ngIf="company">
      <br/>
      <img *ngIf="company.logoImage" [src]="company.logoImage" class="img-responsive" alt="logo">
    </div>
    <div class="col-xs-6 col-xs-offset-1" *ngIf="company">
      <br/>
      <h4><strong>Company details</strong></h4>
      <h5>Name: {{company.name}}</h5>
      <h5>Address: {{company.address}}</h5>
      <h5>Phone number: {{company.phoneNumber}}</h5>
      <button mat-raised-button color="primary" [routerLink]="['/company-edit', company?.id]">Edit company</button> &nbsp;
      <button mat-raised-button color="primary" [routerLink]="['/company-edit', company?.id]">View employees</button> &nbsp;
      <button mat-raised-button color="primary" [routerLink]="['/company-edit', company?.id]">Add employee</button> &nbsp;
      <button mat-raised-button color="warn" (click)="openDialog(company.id)">Delete company</button> &nbsp;
    </div>
  </div>
</div>
