<div class="container-fluid">
  <button mat-button (click)="goBack()" style="margin-top: 10px;"><mat-icon>keyboard_backspace</mat-icon></button>
  <div class="row" style="margin-top: 40px;">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-4 col-xs-offset-1" *ngIf="restaurantItem">
      <br/>
      <img *ngIf="restaurantItem.logoImage" [src]="restaurantItem.logoImage" class="img-responsive" alt="logo">
    </div>
    <div class="col-xs-6 col-xs-offset-1" *ngIf="restaurantItem">
      <br/>
      <h4><strong>Restaurant details</strong></h4>
      <h5>Name: {{restaurantItem.name}}</h5>
      <h5>Address: {{restaurantItem.address}}</h5>
      <h5>Phone number: {{restaurantItem.phoneNumber}}</h5>
      <hr/>
      <button mat-raised-button color="primary" [routerLink]="['/restaurant-edit', restaurantItem?.id]">Edit restaurant</button> &nbsp;
      <button mat-raised-button *ngIf="!restaurantItem.restaurantAccountDetailsDTO" [routerLink]="['/restaurant-account/add/', restaurantItem.id]">Add an account</button> &nbsp;
      <button mat-raised-button color="warn" (click)="openDialog(restaurantItem.id)">Delete restaurant</button> &nbsp;
      <div *ngIf="restaurantItem.restaurantAccountDetailsDTO">
        <hr/>
        <h4><strong>Restaurant account details</strong></h4>
        <h5>Username: {{restaurantItem.restaurantAccountDetailsDTO.username}}</h5>
        <h5>Email: {{restaurantItem.restaurantAccountDetailsDTO.email}}</h5>
      </div>
    </div>
  </div>
</div>
