<div class="container-fluid">
  <button mat-button (click)="goBack()" style="margin-top: 10px;"><mat-icon>keyboard_backspace</mat-icon></button>
  <div class="row login-wrapper" style="margin-top: 80px;">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <mat-card class="box" *ngIf="!isLoading">
      <mat-card-header>
        <mat-card-title>{{isInEdit ? 'Edit menu item' : 'Create new menu item'}}</mat-card-title>
      </mat-card-header>
      <form class="example-form" #menuItemForm="ngForm" (ngSubmit)="handleMenuItemForm(menuItemForm)">
        <mat-card-content class="input-width">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Name" [(ngModel)]="menuItem.name"
                   ngModel name="name" required #name="ngModel"/>
            <mat-hint *ngIf="!name.valid && name.touched">Name is required</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Select type</mat-label>
            <mat-select name="type" [(ngModel)]="selectedType"
              (selectionChange)="changeType($event.value)">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Price" [(ngModel)]="menuItem.price"
                   ngModel name="price" required #price="ngModel"/>
            <mat-hint *ngIf="!price.valid && price.touched">Price is required</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Allergens (comma separated, blank if none)"
              [(ngModel)]="menuItem.allergens" ngModel name="allergens" #allergens="ngModel"/>
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block"
          *ngIf="isInEdit" [disabled]="!selectedType">Edit</button>
        <button mat-raised-button class="btn-block"*ngIf="!isInEdit" [disabled]="!selectedType"
          [ngStyle]="selectedType && {'background-color': 'green', 'color': 'white'}">Create</button>
      </form>
      <mat-error *ngIf="error" class="text-center">{{error}}</mat-error>
    </mat-card>
  </div>
</div>
