<div class="container-fluid">
  <h1 class="text-center text-success">Successfully Authenticated</h1>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <button class="btn btn-primary" (click)="test()">Test api gateway</button>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
      <h3 class="text-success" *ngIf="testApiSuccess">{{testApi}}</h3>
      <h3 class="text-danger" *ngIf="!testApiSuccess">{{testApi}}</h3>
    </div>
  </div>
</div>

