<ngb-alert *ngIf="alertMessage" type="success" (close)="alertMessage = null" class="text-center">
  <b>{{ alertMessage }}</b>
</ngb-alert>
<div class="container-fluid" *ngIf="userDetails?.authorities.includes('ROLE_RESTAURANT')">
  <div class="col-xs-10 col-xs-offset-1" style="margin-top: 120px;">
    <div class="row">
        <div class="col-xs-4">
          <figcaption class="text-center">Today's orders</figcaption>
          <a mat-button routerLink="/daily-orders">
            <img class="img-responsive" [src]="'assets/orders.png'">
          </a>
        </div>
      <div class="col-xs-4">
        <figcaption class="text-center">Menu</figcaption>
        <a mat-button routerLink="/menu-management">
          <img [src]="'assets/menu.png'" class="img-responsive"/>
        </a>
      </div>
      <div class="col-xs-4">
        <figcaption class="text-center">Monthly invoices</figcaption>
        <a mat-button (click)="openInvoiceDialog()">
          <img [src]="'assets/invoice.png'" class="img-responsive"/>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="userDetails?.authorities.includes('ROLE_SUPER_ADMIN')">
  <div class="col-xs-10 col-xs-offset-1" style="margin-top: 120px;">
    <div class="row">
      <div class="col-xs-4">
        <figcaption class="text-center">Companies</figcaption>
        <a mat-button routerLink="/companies">
          <img class="img-responsive" [src]="'assets/company.png'">
        </a>
      </div>
      <div class="col-xs-4">
        <figcaption class="text-center">Restaurants</figcaption>
        <a mat-button routerLink="/restaurants">
          <img [src]="'assets/restaurant.png'" class="img-responsive"/>
        </a>
      </div>
      <div class="col-xs-4">
        <figcaption class="text-center">Users</figcaption>
        <a mat-button  routerLink="/users">
          <img [src]="'assets/users.png'" class="img-responsive"/>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="restaurants">
  <h3 class="text-center text-info">Choose a restaurant for your breakfast</h3>
  <div class="container-fluid">
    <div class="col-xs-10 col-xs-offset-1">
      <hr/>
      <div class="row">
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoading && restaurants">
          <div class="col-xs-4" *ngFor="let restaurant of restaurants">
            <a mat-button
               [routerLink]="['/restaurant-menu', restaurant.id]" [queryParams]="{restaurant: restaurant.name}">
              {{restaurant.name}}
              <img *ngIf="restaurant.logoImage" [src]="restaurant.logoImage" class="img-responsive size" alt="logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


