<div class="login-form">
  <div class="alert alert-danger text-center" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form #authenticationForm="ngForm" (ngSubmit)="authenticate(authenticationForm)" *ngIf="!isLoading">
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username or E-Mail" ngModel name="usernameOrEmail" required id="usernameOrEmail" #usernameOrEmail="ngModel"/>
      <span class="help-block" *ngIf="!usernameOrEmail.valid && usernameOrEmail.touched">Please enter a valid username/email</span>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ngModel name="password" required minlength="6" id="password" #password="ngModel"/>
      <span class="help-block" *ngIf="!password.valid && password.touched">Password should be at least 6 characters</span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
  </form>
</div>
