<div class="login-form">
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form #authenticationForm="ngForm" (ngSubmit)="authenticate(authenticationForm)" *ngIf="!isLoading">
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="E-Mail" ngModel name="email" required email id="email"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" ngModel name="password" required id="password"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="pull-right">Forgot Password?</a>
    </div>
  </form>
  <p class="text-center"><a href="#">Create an Account</a></p>
</div>
